* { box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    font-family: "Inter", sans-serif;
}
    /* Свойства для сброса начальных стилей элементов */

body {font-family: "Inter", sans-serif;
color: #303030;}
ul, ol {
    list-style: none;
}
header {
    width: 1440px;
    height: 70px;
    background: #2965f1;
    padding: 23px 0;
    /* Стили для хедера */
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background: #fafaff;
    width: 1440px;
    height: 1024px;
    padding: 60px 0;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    /* Стили для текста в первой секции */
}

.main-image {
   max-width: 715px;
    height: 508px;
    /* Стили для изображения в первой секции */
}


.about-section {
    fill: #fff;
    width: 1440px;
    height: 883px;
    padding: 100px 0;
    /* Стили для второй секции */
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    padding: 9px 12px;
    background-repeat: no-repeat;
    /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    list-style-image: url("./assets/Vector.svg");
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    list-style-type: decimal;
    padding: 0 20px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400;
    font-size: 16px;
    /* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    /* Стили для односточного поля ввода текста */
}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    /* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0;
    margin: 60px 0;
    /* Стили для линии */
}

table {
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #303030 ;
    border-collapse: collapse;
    /* Стили для таблицы */
}

th, td {
    border: 1px solid #95a1bb;
    width: 134px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    width: 1440px;
    padding: 26px 0;
    background: rgba(163, 167, 255, 0.3);
    /* Стили для футера */
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    /* Стили для футера */
}